* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu Mono", monospace;
}

main {
    height: 100vh;
    display: flex;
    align-items: center;
    background-image: url("../src/1920x1080.png");
    background-size: cover;
    background-position: center;
    flex-direction: column;
    overflow: hidden;
}

:root {
    --color1: rgb(50, 63, 85);
    --color2: #18202F;
    --color3: #414C69;
    --color4: #556589;
    --color5: #262E43;
    --color6: rgba(50, 63, 85, 0.5);
    --color7: #b5bfd4;

    --boxwidth: 50vw;
    --boxheight: 60vh;
    --maxboxwidth: 800px;
    --maxboxheight: 600px;
}



.allboxescontainer {
    margin-top: 10vh;
    position: relative;
    .mainbox {
        transition: 0.5s ease-in-out;
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: var(--boxwidth);
        height: var(--boxheight);
        max-width: var(--maxboxwidth);
        max-height: var(--maxboxheight);

        .music {
            transition: 0.5s;
            box-shadow: 0px 0px 50px 5px var(--color2);
        
            display: flex;
            flex-direction: column;
            gap: 20px;
            background-color: var(--color6);
            padding: 10px;
            border-radius: 10px;
            backdrop-filter: blur(10px);
            
            .currently-playing {
                color: #ffffff;
                cursor: default;
                text-align: center;
                .songname {
                    color: var(--color7);
                }
                .spinning-vinyl {
                    animation: spin 2s linear infinite;
                }
            }
            .music-controls {
                width: 100%;
                display: flex;
                justify-content: space-evenly;
                
                .music-btn {
                    background-color: var(--color6);
                    color: #ffffff;
                    font-size: 32px;
                    border: none;
                    outline: none;
                    border-radius: 10px;
                    padding: 5px;
                    transition: 0.5s;
                    i.dissapear {
                        display: none;
                    }
                }
                .music-btn:hover {
                    transform: scale(110%);
                    cursor: pointer;
                }
                .music-btn:active {
                    transform: scale(90%);
                }

                .pause-btn {
                    .fa-play {
                        display: none;
                    }
                    .fa-pause {
                        display: block;
                    }   
                }

                .pause-btn.paused {
                    .fa-play {
                        display: block;
                    }
                    .fa-pause {
                        display: none;
                    }
                }
            }

            .progressbar {
                padding: 20px 0;
                width: 100%;
                display: flex;
                justify-content: center;


                .fullline {
                    background-color: var(--color3);
                    border-radius: 50px;
                    height: 10px;
                    width: calc(100% - 100px * 2);
                    .line {
                        position: relative;
                        background-color: #ffffff;
                        border-radius: 50px;
                        height: 10px;
                        .ball {
                            position: absolute;
                            top: 0;
                            right: -2.5px;

                            height: 10px;
                            aspect-ratio: 1/1;
                            
                            border-radius: 50px;
                            background-color: #ffffff;
                            transition: 0.3s;
                            pointer-events: none;
                        }
                    }
                }
                .fullline:hover .line .ball {
                    transform: scale(150%);
                }
                .fullline:active .line .ball {
                    transform: scale(150%);
                }
            }
        }
        .music:hover {
            transform: scale(102%);

        }
        .bio {
            width: 100%;
            z-index: 1;
            padding: 60px 15px;
            background-color: var(--color6);
            border-radius: 15px;
            transition: 0.5s;
            box-shadow: 0px 0px 50px 5px var(--color2);
            backdrop-filter: blur(10px);
            display: flex;
            align-items: center;
            flex-direction: column;
            &::-webkit-scrollbar {
                width: 10px;
                background: var(--color5);
                border-radius: 10px;
            }
            &::-webkit-scrollbar-thumb {
                background: var(--color3);
                border-radius: 10px;
            }
            &::-webkit-scrollbar-thumb:hover {
                background: var(--color4);
            }
            .pfp {
                height: 200px;
                aspect-ratio: 1/1;
                border-radius: 1000px;
    
                box-shadow: 0px 0px 20px 10px var(--color1);
    
                overflow: hidden;
    
    
                img {
                    height: 100%;
                }
            }
    
            h1 {
                color: #ffffff;
                margin-top: 10px;
                font-size: 42px;
                transition: 0.3s;
    
            }
            h1:hover {
                color: var(--color7);
            }
            p {
                margin-top: 30px;
                font-size: 24px;
                text-align: center;
                width: 80%;
                height: 100%;
                transition: 0.3s;
                color: #ffffff;
            }
            p:hover {
                color: var(--color7);
            }
        }
    
        .bio:hover {
            transform: scale(102%);
        }
    
    
    
    
        .btn-container {
            width: 100%;
            height: min-content;
            display: flex;
            gap: 20px;
            button {
                font-size: 26px;
                height: 80px;
                width: 100%;
                border: none;
                outline: none;
                border-radius: 15px;
                transition: 0.5s;
                background-color: var(--color6);
                backdrop-filter: blur(10px);
                color: #ffffff;
                box-shadow: 0px 0px 50px 5px var(--color2);
    
                z-index: 2;
            }
            button:hover {
                transform: scale(102%);
                cursor: pointer;
            }
            button:active {
                transform: scale(95%);
            }
        }
    }
    .mainbox.hidden {
        transform: translateX(-100vw);
    }
    
    .interests, .likes-dislikes, .socials {
        transform: translateX(100vw);
        position: absolute;
        top: 0;
        left: 0;
        transition: 0.5s ease-in-out;
        display: flex;
        gap: 15px;
        width: var(--boxwidth);
        height: var(--boxheight);
        max-width: var(--maxboxwidth);
        max-height: var(--maxboxheight);
        
        .close-btn {
            min-width: 50px;
            height: 50px;
            margin-top: 20px;
            z-index: 2;
            font-size: 18px;
            border-radius: 15px;
            background-color: var(--color6);
            backdrop-filter: blur(10px);
            box-shadow: 0px 0px 50px 5px var(--color2);
            color: #ffffff;
            outline: none;
            border: none;
            transition: 0.5s;
        }
        button:hover {
            transform: scale(105%);
            cursor: pointer;
        }
        button:active {
            transform: scale(95%);
        }
        .box {
            z-index: 1;
            padding: 60px 15px;
            width: 100%;
            height: 100%;
            background-color: var(--color6);
            border-radius: 15px;
            box-shadow: 0px 0px 50px 5px var(--color2);
            backdrop-filter: blur(10px);
            display: flex;
            align-items: center;
            flex-direction: column;
            .pfp {
                
                min-width: 150px;
                min-height: 150px;
                border-radius: 100px;
    
                box-shadow: 0px 0px 20px 10px var(--color1);
    
                overflow: hidden;
    
    
                img {
                    height: 100%;
                }
            }
    
            h1 {
                color: #ffffff;
                margin-top: 10px;
                font-size: 42px;
                transition: 0.3s;
    
            }
            h1:hover {
                color: var(--color7);
            }
            p {
                margin-top: 30px;
                font-size: 24px;
                text-align: center;
                width: 600px;
                transition: 0.3s;
                color: #ffffff;
            }
            p:hover {
                color: var(--color7);
            }
        }
    }

    .interests.active, .likes-dislikes.active, .socials.active {
        transform: translateX(0);
    }
}


.bigclikclikbox {
    z-index: 10;
    position: fixed;
    backdrop-filter: blur(20px);
    top: 0;
    left: 0;
    transition: 1s;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    span {
        height: 100px;
        font-size: 70px;
        color: #ffffff;
        text-align: center;
        user-select: none;
    }
}
.bigclikclikbox.hidden {
    opacity: 0;
    pointer-events: none;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}



.creatorcredit {
    color: var(--color4);
    position: fixed;
    bottom: 10px;
    left: 10px;
    cursor: default;
    user-select: none;
    background-color: var(--color6);
    backdrop-filter: blur(1px);
    padding: 5px;
    border-radius: 10px;
    a {
        color: var(--color4);
        text-decoration: none;
    }
}

@media screen and (max-width: 1000px) {
    :root {
    
        --boxwidth: 90vw
    }

    .interests, .likes-dislikes, .socials {
        button {
            
            transform: translateX(-100px);
            aspect-ratio: 1/1;
        }
        button:hover {
            transform: translateX(-100px) !important; 
        }
        button:active {
            transform: translateX(-100px) !important; 
        }
    }


    .bigclikclikbox {
        span {
            font-size: 50px;
        }
    }

    .allboxescontainer {
        margin-top: 5vh;
    }

    .mainbox {
        height: calc(var(--boxheight) - 10vh) !important;
    }



    .bio {
        padding: 10px 15px !important;
    }
}

@media (hover: none) {
    .music:hover,
    .bio:hover,
    button:hover,
    .music-btn:hover,
    .fullline:hover .line .ball {
        transform: none !important;
    }
}

@media screen and (max-height: 1050px) {
    .allboxescontainer {
        margin-top: 5vh;
        .mainbox {
            .music {
                padding: 5px !important;
                gap: 10px !important;
            }
            .bio {
                padding: 10px 15px !important;

            }
        }
    }
}

@media screen and (max-height: 870px) {
    .allboxescontainer {
        margin-top: 5vh;
        .mainbox {
            height: calc(var(--boxheight) - 20vh) !important;
            .music {
                padding: 5px !important;
                gap: 5px !important;
                .currently-playing {
                    font-size: 14px !important;
                    .songname {
                        font-size: 12px !important;
                    }
                    .spinning-vinyl {
                        font-size: 12px !important;
                    }
                }
                .music-controls {
                    .music-btn {
                        font-size: 24px !important;
                        padding: 2px !important;
                    }
                }
                .progressbar {
                    padding: 10px 0 !important;
                    .fullline {
                        height: 7px !important;
                        .line {
                            .ball {
                                height: 7px !important;
                            }
                        }
                    }
                }
            }
            .bio {
                .pfp {
                    /* position: absolute !important;
                    top: 20px;
                    left: 20px; */
                    height: 150px !important;

                }
                padding: 5px 10px !important;
                h1 {
                    font-size: 28px !important;
                }
                p {
                    margin-top: 15px !important;
                    font-size: 18px !important;
                    width: 90% !important;
                }
            }
            .btn-container {
                button {
                    font-size: 20px !important;
                    height: 60px !important;
                }
            }
        }
    }
    
}